<html>
    <head>
        <title>Covid-19 Chat-bot</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <h1>Covid-19 Chat Bot</h1>

        <p id="output"></p>

        <div class="main-content">
            <form>
                <input placeholder="Enter your question">
                <button>Enter</button>
            </form>
        </div>
        <script src="/clientjs.js/client-side.js"></script>
    </body>
</html>