body {
    background-color: rgb(102, 102, 102);
}

#headerDiv {
    text-align: center;
    color: white;
}

#inputDiv {
    text-align: center;
}

#chatDiv {
    text-align: center;
}

#inputArea {
    width: 50%;
    height: 15px;
    border: 1px black;
    padding: 10px;
    border-radius: 10px;

}

#submitButton {
    color: white;
    width: 10%;
    background-color: rgb(46, 46, 46);
    height: 40px;
    font-weight: bold;
}

.chat {
    align-items: center;
    justify-content: center;
    text-align: right;
    justify-content: center;
    justify-items: center;
    width: 60%;
    border: 1px black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}